# streamlit
# langchain
# langchain-community
# langchain-text-splitters
# chromadb
# sentence-transformers
# groq
# pypdf

streamlit
langchain
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
groq
pypdf